.tt {
    /* background: url(../images/00/tt1.png) 0 0 no-repeat !important; */
}

/*  */
.setContent {}

.setContent li {}

/* contents */
.contents:nth-child(1) {
    /* background: url('../images/00/bg1.png') center bottom no-repeat; */
}

/* .contents:nth-child(2) {
    background: url('../images/00/bg2.png') center bottom no-repeat;
} */

/* contents:nth-child(1) -------------------------------------------------------------*/
.player-buttons {
    display: flex;
    justify-content: center;
    gap: 359px;
    position: relative;
    top: 44px;
    z-index: 2;
}

.p-btn {
    width: 290px;
    height: 142px;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

/* 선택된 버튼 강조 */
.p-btn.active {
    
}

.canvas-wrapper canvas{
    /* border: 1px solid red; */
    position: absolute;
    top: 140px;
    left: 256px;
}


.contents:nth-child(1) .clickItem {
    width: 290px;
    height: 142px;
    position: absolute;
    top: 691px;
    left: 165px;
}
.contents:nth-child(1) .clickItem2{
    left: 1463px;
}
.contents:nth-child(1) .clickItem3{
    left: 814px;
}

.contents:nth-child(1) .clickContent .ansbtn{
    display: none !important;
}