.tt {
    /* background: url(../images/00/tt1.png) 0 0 no-repeat !important; */
}

/*  */
.setContent {}

.setContent li {}

/* contents */
.contents:nth-child(1) {
    /* background: url('../images/00/bg1.png') center bottom no-repeat; */
}

/* contents:nth-child(1) -------------------------------------------------------------*/
.player-buttons {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.p-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background: #fff;
    cursor: pointer;
    margin: 0 30px;
    /* 간격은 JS에서 조정 */
    font-weight: bold;
    transition: 0.3s;
}

.p-btn:hover {
    background: #4A90E2;
    color: white;
}

canvas {
    background: #fdfdfd;
    border-top: 5px solid #333;
}